*{
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}
html,body {
  position: relative;
  height: 100%;
  color: #333;
  background: #F6F6F6;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: auto;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.swiper-container-ve {
  width: 100%;
  height: 100%;
}

.ds-none{
  display: none;
}

.head {
  font-size: 0;
  border: none;
  position: absolute;
  top: 0;
  width: 100%;
  padding-top:18px;/* rem */
  background-image: linear-gradient(-180deg, #6E45FE 0%, #5584FD 100%);
  z-index: 99;
  .icon-mail{
    position: absolute;
    top: 29px;/* rem */
    right: 18px;/* rem */
    height: 32px;/* rem */
    width: 40px;/* rem */
    background: url('../images/mail.png') no-repeat 0/cover;
  }
  img{
    display: block;
    height: 54px; /* rem */
    width: 186px;/* rem */
    margin: 0 auto 14px auto;
  }
  .hd{
    position: relative;
    height: 98px;/* rem */
    padding: 27px 14px;/* rem */
    box-sizing: border-box;
    // background-image: linear-gradient(90deg, #4F93FD 0%, #6E45FE 100%);
    
      &-item{
        position: relative;
        width: 50%;
        display: inline-block;
        color: #fff;
        font-size: 30px;/* rem */
        line-height: 30px;/* rem */
        vertical-align: bottom;
        text-align: center;
        &.swiper-slide-thumb-active{
          font-size: 32px;/* rem */
        }
    }
    .bar{
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 4px;/* rem */
      background: transparent;
      .swiper-scrollbar-drag{
        position: relative;
        background: transparent;
        &::after{
          position: absolute;
          content: '';
          width:60px;/* rem */
          height: 100%;
          background: #fff;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
.head-bg{
  position: absolute;
  top: 0;
  height: 260px;/* rem */
  width: 100%;
  background: #5584FD;
  // background-image: linear-gradient(90deg, #4F93FD 0%, #6E45FE 100%);
  z-index: 1;
}
.main-container{
  z-index: 3;
  // background: #F6F6F6;
}
.main-content{
  padding-bottom: 118px;/* rem */
}
.swiper-container-ve{
  background: #5584FD;
  // background-image: linear-gradient(90deg, #4F93FD 0%, #6E45FE 100%);
}
.bg-grey{
background: #F6F6F6;
}

.inner{
  padding:0 24px 144px 24px;/* rem */
  overflow: hidden;
  &-bg{
    position: absolute;
    top: 76px;/* rem */
    width: 100%;
    background: #F6F6F6;
    z-index: -1;
    height: 100%;
  }
}
.todo{
  width: 702px;/* rem */
  height: 258px;/* rem */
  background: url('../images/todo.png') no-repeat 0/cover;
  margin-bottom: 26px;
}

.routine{
  position: relative;
  width: 702px;/* rem */
  height: 1066px;/* rem */
  background: url('../images/routine_one.png') no-repeat 0/cover;
  .btn{
    position: absolute;
    top: 500px;/* rem */
    left: 300px;/* rem */
    width: 150px;/* rem */
    height: 50px;/* rem */
  }
}
.no-more{
  padding: 40px 0;/* rem */
  font-size: 24px;/* rem */
  text-align: center;
  .more{
    color: #4477FF;
  }
}
.banner{
  width: 702px;/* rem */
  height: 200px;/* rem */
  background: url('../images/banner.png') no-repeat 0/cover;
  z-index: 9;
  margin-bottom: 24px;/* rem */
}
.notice{
  width: 702px;/* rem */
  height: 104px;/* rem */
  background: url('../images/notice.png') no-repeat 0/cover;
  margin-bottom: 24px;/* rem */
}
.reserve{
  width: 702px;/* rem */
  height: 646px;/* rem */
  background: url('../images/reserve.png') no-repeat 0/cover;
  margin-bottom: 24px;/* rem */
}
.add-service{
  width: 702px;/* rem */
  height: 146px;/* rem */
  background: url('../images/add_service.png') no-repeat 0/cover;
  margin-bottom: 24px;/* rem */
}
.coupon{
  padding: 36px 0;/* rem */
  background: #fff;
  border-radius: 8px;/* rem */
  width: 702px;/* rem */
  overflow: hidden;
  .title{
    padding: 0 24px;/* rem */
    position: relative;
    overflow: hidden;
    margin-bottom: 36px;/* rem */
    font-size: 40px;/* rem */
  }
  .scroll-box{
    position: relative;
    overflow: hidden;
    ul{
      li{
        width: 284px;/* rem */
        -webkit-tap-highlight-color:rgba(0, 0, 0, 0);  
        -moz-tap-highlight-color:rgba(0, 0, 0, 0);  
        -ms-tap-highlight-color:rgba(0, 0, 0, 0);  
        -o-tap-highlight-color:rgba(0, 0, 0, 0);  
        tap-highlight-color:rgba(0, 0, 0, 0); 
        margin-left: 24px;/* rem */
        img{
          width: 100%;
        }
      }
    }
  }
}


.refresh{
  position: absolute;
  top: 190px;/* rem */
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  width: 500px;/* rem */
  height: 145px;/* rem */
  background: url('../images/loading.gif') no-repeat 0/cover;
  &-pull{
  position: absolute;
  top: 190px;/* rem */
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  width: 500px;/* rem */
  height: 145px;/* rem */
  .pull-img{
    transform: scale(1);
    width: 100%;
    height: 100%;
    background: url('../images/loading1.png') no-repeat 0/cover;
    }
  }
}
.slide-bg{
  position: absolute;
  top: 0;
  height: 3.466667rem;
  width: 100%;
  background-image: linear-gradient(90deg, #4F93FD 0%, #6E45FE 100%);
  z-index: 1;
}
.swiper-wrapper-ve{
  z-index: 5;
}

.foot{
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 112px;/* rem */
  width: 750px;/* rem */
  z-index: 99;
  background: #fff;
  box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.10);
  box-sizing: border-box;
  .item{
    flex:1;
    padding-top: 19px;/* rem */
    font-size: 24px;/* rem */
    color: #999;
    text-align: center;
    svg{
      width: 42px;/* rem */
      height: 42px;/* rem */
    }
    &.active{
      color: #4477FF;
    }
  }
  
}


// svg 动画
.service-group {
  transform: translateY(-2px);
}

.move {
  animation: move .2s ease-in;
  -webkit-animation: move .2s ease-in;
  transform: translateY(0);
}

.string {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: string 12s forwards;
  -webkit-animation: string 12s forwards;
}

.string-fast {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: string 6s forwards;
  -webkit-animation: string 6s forwards;
}

.bigger {
  animation: bigger .5s ease-out;
  -webkit-animation: bigger .5s ease-out;
}

@keyframes string {
  from {
    stroke-dashoffset: 1000;
    opacity: 1;
  }

  to {
    stroke-dashoffset: 1;
    opacity: 1;
  }
}

@-webkit-keyframes string {
  from {
    stroke-dashoffset: 1000;
    opacity: 1;
  }

  to {
    stroke-dashoffset: 1;
    opacity: 1;
  }
}

@keyframes move {
  from {
    transform: translateY(-2px);
  }

  to {
    transform: translateY(0);
  }
}

@-webkit-keyframes move {
  from {
    transform: translateY(-2px);
  }

  to {
    transform: translateY(0);
  }
}


@keyframes bigger {
  0% {
    transform: scale(1.1)
  }

  60% {
    transform: scale(1)
  }

  80% {
    transform: scale(1.05)
  }

  100% {
    transform: scale(1)
  }
}

@-webkit-keyframes bigger {
  0% {
    transform: scale(1.1)
  }

  60% {
    transform: scale(1)
  }

  80% {
    transform: scale(1.05)
  }

  100% {
    transform: scale(1)
  }
}